body {
    font-family: "IBM Plex Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#userInputForm {
    background-color: #FFEEDF;
    padding: 25px;
    margin: 20px;
}

#userInputFormButtons {
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#buttonRegister {
    background-color: #39C07F;
    color: white;
    border: 1px #39C07F solid;
}

#buttonViewer {
    background-color: #3748FF   ;
    color: white;
    border: 1px #3748FF solid;
}